services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow
    ports:
      - "5001:5000"
    env_file:
      - config.env
    environment:
      MLFLOW_S3_ENDPOINT_URL: https://s3.amazonaws.com
    command: >
      mlflow server
      --default-artifact-root s3://mlflow-bucket-team24/
      --host 0.0.0.0
      --port 5000
    volumes:
      - ./mlruns:/mlruns
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: app/Dockerfile
    container_name: fastapi_app
    depends_on:
      - mlflow
    env_file:
      - config.env
    ports:
      - "8000:8000"
    environment:
      ENV: dev
      MODEL_PATH: /app/models/model_v1.joblib
      MLFLOW_TRACKING_URI: http://mlflow:5000
    volumes:
      - ./app/models:/app/models
    restart: unless-stopped