name: Run Tests on App Changes

on:
  push:
    paths:
      - "app/**"
      - "tests/**"
  pull_request:
    paths:
      - "app/**"
      - "tests/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository test for api
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest tests -q
