name: Run Tests on App Changes

on:
  workflow_dispatch:
  push:
    paths:
      - "app/**"
      - "tests/**"
  pull_request:
    paths:
      - "app/**"
      - "tests/**"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-prod.txt
          pip install dvc[s3]

      - name: Pull data with DVC
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
        run: dvc pull
          
      - name: Start FastAPI in background
        run: |
          uvicorn app.main:app --host 0.0.0.0 --port 8000 &
          sleep 5  # espera a que el servidor arranque

      - name: Run tests
        run: |
          pytest tests -q
